<app-navbar></app-navbar>
<main>
  <div class="first_part">
    <div class="txt">
      <div class="large_txt">Empower your workforce Optimize your enterprise</div>
      <div>Webalo The Platform for the Frontline Workforce</div>
    </div>
  </div>
  <div class="second_part">
    <div class="txt_sec">
      <div class="blue_txt">Empower the Workforce</div>
      <div class="bold_black_txt">Create a quality-driven workplace.</div>
      <div class="sec_light_txt">Monitor events, engage the workforce, automate activities. Work across platforms,
        across the buisness.</div>
    </div>
    <div class="images_sec d-flex">
      <div><img src="../../../assets/images/people.jpg" width="330px"></div>
      <div><img src="../../../assets/images/events.jpg" width="330px"></div>
      <div><img src="../../../assets/images/business.jpg" width="330px"></div>
    </div>
    <div class="sec_part_bottom">
      <div class="sec_first_icon"><i class="fa fa-quote-left fa-3x"></i></div>
      <div class="fixed-txt">
        Webalo is recognised for its
      </div>
      <div class="moving_txt">
        iron-clad value proposition, all-inclusive platform with best-in-class features, close relationships with
        customers and the market, and a strong overall position in the global connected frontline workforce platforms
        for the industrial and energy industry
      </div>
      <div class="frost">
        <img src="../../../assets/images/frost-sullivan-logo.svg">
      </div>
      <div class="sec_last_icon"><i class="fa fa-quote-right fa-3x" aria-hidden="true"></i></div>
    </div>
  </div>
  <div class="third_bg">
    <div class="third_part d-flex">
      <div class="third_title">
        Optimize Your Enterprise
      </div>
      <div class="list">
        <ul>
          <li>
            Ensure rapid, effective event response
          </li>
          <li>
            Standardize and automate operational processes
          </li>
          <li>
            Communicate effectively across all teams
          </li>
          <li>
            Visualize process performance and automate process improvement
          </li>
        </ul>
      </div>
      <div class="third_read">
        READ NEW REPORT
      </div>
    </div>
  </div>
  <div class="fourth_part">
    <div class="d-flex fourth_container">
      <div class="fourth_part_txt">
        Webalo enables you to <span class="fourth_selected_text"> rapidly respond </span> to events, <span
          class="fourth_selected_text"> digitally engage the workforce</span>, and <span class="fourth_selected_text">
          automate activities </span> across all business areas.
      </div>
      <div class="fourth_part_img">
        <img src="../../../assets/images/device-view.png">
      </div>
    </div>
  </div>
  <div class="fifth_part">
    <div class="fifth_txt">
      Empower an agile workforce that can <span class="fifth_highlited"> respond to and resolve </span> events in
      real-time
    </div>
  </div>
  <div class="sixth_part">
    <div class="sixth_upper">
      <div class="sixth_upper_content d-flex">
        <div class="upper_left_content">
          <span class="big_light_blue"> Capture the data </span>
          <span class="big_dark_blue"> you've been missing </span><br>
          Event and workforce process data is an untapped, yet critical source of information. It carries valuable
          insight that enable operations to stay on plan and reach capacity.
        </div>
        <div class="upper_right_content">
          <img src="../../../assets/images/capture-missing-data.jpg">
        </div>
      </div>
      <div class="sixth_lower_content d-flex">
        <div class="lower_left_content">
          <img src="../../../assets/images/enable-holistic-view-operations.jpg">
        </div>
        <div class="lower_right_content">
          <span class="big_dark_blue"> Enable a holistic view of operations </span><br>
          Leverage operations and asset data, combined with event and workforce process data from the
          <span> Webalo Workforce
          Intelligence Center </span>,
          to gain powerful, actionable insights into your operations.
        </div>
      </div>
    </div>
    <div class="sixth_lower">
      <div class="sixth_coordinate big_dark_blue">
        Coordinate workforce events from a single
        <span class="big_light_blue"> platform </span>
      </div>
      <div class="coordinate_img">
        <img src="../../../assets/images/home-icon-trio.svg">
      </div>
      <div class="coordinate_img_mini">
        <img src="../../../assets/images/home-icon-trio-mobile.svg">
      </div>
    </div>
    <div class="sixth_last_img">
      <!-- <img src="../../../assets/images/hand-fade-background.jpg"> -->
    </div>
  </div>
  <div class="seventh_part d-none">
    <div class="vid">
      <!-- <video autoplay muted loop id="myVideo">
    <source src="../../../assets/videos/webalo.mp4" type="video/mp4">
    </video> -->
      <div class="vid_txt d-none">
        Visualize plant operations in real-time
      </div>
    </div>
  </div>
  <div class="eighth_part">
    <div class="eighth_txt">
      <div class="eighth_lg_txt">
        Empower the workforce with actionable data
      </div>
      <div class="eighth_sm_txt">
        Providing the frontline workforce with real-time insight into operations allows rapid and effective responses to
        all events.
      </div>
    </div>
  </div>
  <div class="ninth_part">
    <img src="../../../assets/images/actionable-data-desktop.jpg" class="w-100 ninth_desk_img">
    <img src="../../../assets/images/actionable-data-mobile.jpg" class="w-100 ninth_mob_img">
  </div>
</main>
<app-footer></app-footer>
