footer {
  background-color: #303030;
  color: rgba(255, 255, 255, 0.69);
  width: 100vw;
  min-height: 30rem;
  overflow: hidden;
}

ul {
  list-style-type: none;
  overflow: hidden;
  margin-left: -3.6rem;
}

li {
  float: right;
}

li a,
.dropbtn {
  display: inline-block;
  color: rgba(255, 255, 255, 0.748);
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 1.15rem;
}

.dropdown {
  display: block;
  margin-right: -1rem;
  position: relative;
}

.dropdown a i {
  display: inline-block;
  margin-left: 10px;
}

.dropdown-content {
  position: relative;
  bottom: 1rem;
  display: none;
  background-color: #303030;
  color: rgba(255, 255, 255, 0.615);
  z-index: 999;
  height: 1.4rem;
}
a:hover{
  cursor: pointer;
}
.dropdown i {
  font-size: 1.1rem;
  margin-left: -2px;
}

.dropdown-content a {
  color: rgba(255, 255, 255, 0.674);
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 0.8rem;
  line-height: 0px;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
}

.container {
  width: 1000px;
  justify-content: space-between;
  padding-top: 3rem;
  margin-bottom: 2rem;
}

.left_side {
  width: 44rem;
  font-size: 0.8rem;
}

.left_upper {
  margin-bottom: 2rem;
}

.right_side {
  width: 9rem;
}

.right_side i {
  font-size: 2rem;
}

.upper_icons {
  justify-content: space-between;
  margin-bottom: 2rem;
}

.send_us {
  flex-direction: column;
  font-size: 0.97rem;
  justify-content: space-between;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.795);
  height: 5rem;
}

.send_us i {
  font-size: 1rem;
}

.lower_icons {
  width: 5.5rem;
  justify-content: space-between;
}

.lower_icons i:hover,
.upper_icons i:hover {
  color: #0c9de0;
}

.footer_right {
  width: 18rem;
}

@media(max-width:1300px) {
  .container {
    width: 800px;
  }

  .left_side {
    width: 35rem;
    font-size: 0.8rem;
  }

  .footer_right {
    width: 100%;
  }

  li a,
  .dropbtn {
    padding: 14px 15px;
    padding-left: 22px;
    font-size: 1.15rem;
  }
}

@media(max-width:850px) {
  .container {
    width: 600px;
    flex-wrap: wrap;
    right: -0.5rem;
  }

  .left_side {
    min-width: 100%;
    font-size: 0.8rem;
  }

  .right_side {
    margin: auto;
    margin-top: 4rem;
  }

  ul {
    transform: rotate(180deg);
  }

  li {
    float: none;
    transform: rotate(-180deg);
  }

  .dropdown {
    width: 100%;
  }

  li a {
    font-size: 1.4rem;
    width: 85rem;
    position: relative;
    text-align: start;
    margin: auto;
  }

  .list_item a:after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.674);
    width: 55rem;
    height: 1px;
    top: 3.8rem;
    right: 40rem;
  }
  .list_item:nth-of-type(4) a:before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.674);
    width: 55rem;
    height: 1px;
    top: -0.2rem;
    right: 40rem;
  }
  li:nth-of-type(1) a:after {
    height: 0px;
  }

  .titles {
    width: 100%;
  }

  .title {
    margin-left: 0;
    width: 100%;
  }
}

@media(max-width:600px) {
  .container {
    width: 400px;
    left: -0.5rem;
  }

  li a {
    margin-left: -0.8rem;
    font-size: 1.1rem;
  }

  .list_item a:after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.674);
    width: 55rem;
    height: 1px;
    top: 2.8rem;
    right: 40rem;
  }
}

@media(max-width:450px) {
  .container {
    width: 250px;
  }

  li a {
    margin-left: -1rem;
    font-size: 1rem;
  }

  .list_item a:after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.674);
    width: 55rem;
    height: 1px;
    top: 3rem;
    right: 40rem;
  }
}
